name: Deploy on dev server

on:
  push:
    branches:
      - main

jobs:
  redeploy:
    name: Deploy everything to the dev server
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
      
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: 13.232.133.210
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            whoami
            ls -la
      
    
          